<div class="{{cssForm}}">
  <div class="bs-callout bs-callout-info">
    <h4>Información persona jurídica</h4>
    <p>{{HelpInfo.Text}}</p>
  </div>

  <div class="input-group">
    <input id="uploadFile" type="text" class="form-control txtUpload" placeholder="{{'phlFileUpload' | translate}}" disabled="disabled" />
    <div class="fileUpload btn btn-primary input-group-btn">
      <span translate="fileUpload"></span>
      <input type="file" file-model="Archivo" class="upload" onchange="return ValExtPermitidas(this);" required />
    </div>
  </div>
  <br />
  <br />
  <div class="text-center">
    <button type="button" class="btn btn-success" ng-click="SubirArchivo()" translate="btnCargar"></button>
  </div>


  <div ng-if="MostrarConsolidado">
    <br />
    <hr />

    <ul class="list-group">
      <li class="list-group-item">
        <span class="text-danger" ng-if="Totales.ConErrores > 0">El archivo tiene errores, debe corregir los errores para completar la carga.</span>
        <span class="text-primary" ng-if="Totales.ConErrores == 0">El archivo se cargó correctamente.</span>
      </li>
      <li class="list-group-item">
        <span class="badge">{{Totales.Total}}</span>
        <span translate="RegistrosCargados"></span> <span class="circleState itmLoader"></span>
      </li>
      <li class="list-group-item">
        <span class="badge">{{Totales.ConErrores}}</span>
        <span translate="RegistrosNoCargados"></span> <span class="circleState itmNotLoader"></span>
      </li>
      <li class="list-group-item">
        <span class="badge">{{Totales.ConErrores + Totales.Total}}</span>
        <span translate="TotalRegistros"></span>
      </li>

    </ul>
  </div>


  <div class="col-sm-12" ng-hide="Datos.length == 0">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active itmLoader" style="color: #fff;"><a class="click" data-target="#ComisionesCargadas" aria-controls="ComisionesCargadas" role="tab" data-toggle="tab"><span>Procesados</span> <span class="badge">{{ Totales.Total }}</span></a></li>
      <li role="presentation" class="itmNotLoader" style="color: #fff;"><a class="click" data-target="#ComisionesNoCargadas" aria-controls="ComisionesNoCargadas" role="tab" data-toggle="tab"><span>No procesados</span> <span class="badge">{{ Totales.ConErrores }}</span></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="ComisionesCargadas">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="{{cssTable}}">
              <thead>
                <tr>
                  <th>1. ID</th>
                  <th>2. Nombre</th>
                  <th>3. Identificación</th>
                  <th>4. Comisión por el Crédito (En Pesos)</th>
                  <th>5. Negocio con Seguro Auto Marque con una X</th>
                  <th>6. Comisión por seguro Auto (En Pesos)</th>
                  <th>7. Valor Total a Pagar (Credito + Seg. Auto)</th>
                  <th>8. IVA</th>
                  <th>9. Retefuente</th>
                  <th>10. Contribuyente (S/N)</th>
                  <th>11. Auto Retenedor (S/N)</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="Item in Datos | filter: {LoadStatus: 0}" class="itmLoader">
                  <td>{{ Item.FormatExcelDetalleUserID }}</td>
                  <td>{{ Item.NombreConcesionario }}</td>
                  <td>{{ Item.IdentificacionConcesionario | number:0 }}</td>
                  <td>{{ Item.ValorComisionCreditoConcesionario | currency:"$ ":0 }}</td>
                  <td>{{ Item.NegocioConSeguroAuto }}</td>
                  <td>{{ Item.ValorComisionSeguroConcesionario | currency:"$ ":0}}</td>
                  <td>{{ Item.ValorTotalAPagar | currency:"$ ":0 }}</td>
                  <td>{{ Item.ValorIVA | currency:"$ ":0 }}</td>
                  <td>{{ Item.ReteFuente | currency:"$ ":0 }}</td>
                  <td>{{ Item.Contribuyente  }}</td>
                  <td>{{ Item.AutRetenedor }}</td>
                </tr>
                <tr>
                  <th></th>
                  <th>TOTAL</th>
                  <th></th>
                  <th>{{ Totales.ValorComisionCreditoConcesionario | currency:"$ ":0 :0 }}</th>
                  <th></th>
                  <th>{{ Totales.ValorComisionSeguroAutoConcesionario | currency:"$ ":0 :0 }}</th>
                  <th>{{ Totales.ValorTotalAPagar | currency:"$ ":0  }}</th>
                  <th>{{ Totales.ValorIVA| currency:"$ ":0  }}</th>
                  <th>{{ Totales.ReteFuente| currency:"$ ":0  }}</th>
                  <th></th>
                  <th></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="ComisionesNoCargadas">

        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="{{cssTable}}">
              <thead>
                <tr style="background-color:gray; color:black">
                  <th>1. ID</th>
                  <th>2. Nombre</th>
                  <th>3. Identificación</th>
                  <th>4. Comisión por el Crédito (En Pesos)</th>
                  <th>5. Negocio con Seguro Auto Marque con una X</th>
                  <th>6. Comisión por seguro Auto (En Pesos)</th>
                  <th>7. Valor Total a Pagar (Credito + Seg. Auto)</th>
                  <th>8. IVA</th>
                  <th>9. Retefuente</th>
                  <th>10. Contribuyente (S/N)</th>
                  <th>11. Auto Retenedor (S/N)</th>
                  <th>Errores</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="Item in Datos | filter: {LoadStatus: 1}" class="itmNotLoader">
                  <td>{{ Item.FormatExcelDetalleUserID }}</td>
                  <td>{{ Item.NombreConcesionario }}</td>
                  <td>{{ Item.IdentificacionConcesionario }}</td>
                  <td>{{ Item.ValorComisionCreditoConcesionario }}</td>
                  <td>{{ Item.NegocioConSeguroAuto }}</td>
                  <td>{{ Item.ValorComisionSeguroConcesionario}}</td>
                  <td>{{ Item.ValorTotalAPagar}}</td>
                  <td>{{ Item.ValorIVA}}</td>
                  <td>{{ Item.ReteFuente}}</td>
                  <td>{{ Item.Contribuyente  }}</td>
                  <td>{{ Item.AutRetenedor  }}</td>
                  <td>{{ Item.Errores }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>