<div class="{{cssForm}}">
  <title-pag title="titleChangePassword"></title-pag>
   
  <form class="form-horizontal" role="form" name="frmChangePasswd" id="frmChangePasswd">
    <div class="form-group ">
      <fieldtxt-form name="LastPassword" type="password" maxlength="50" ng-model="Datos.OldPassword" required="true" view="viewMode"></fieldtxt-form>
      <fieldtxt-form name="NewPassword" type="password" maxlength="50" ng-model="Datos.NewPassword" required="true" view="viewMode"></fieldtxt-form>
      <fieldtxt-form name="ConfirmPassword" type="password" maxlength="50" ng-model="Datos.ConfimPassword" required="true" view="viewMode"></fieldtxt-form>
    </div>

    <div class="form-group">
      <div class="text-center">
        <button type="button" class="btn btn-primary" ng-disabled="frmChangePasswd.$invalid" ng-click="ChangePasswd()" translate="BtnCambiarContraseña"></button>
      </div>
    </div>
  </form>



</div>